/* Contenedor principal para el reglamento y el asistente */
.reglamento-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}


.reglamento {
    flex: 2; 
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido excede la altura máxima */
    max-height: 80vh; 
}

/* Bot Estático */
.bot-aside {
    flex: 1; 
    position: sticky; 
    top: 20px; 
    max-height: 80vh; 
}

/* Área de texto y botón del asistente */
.bot-content textarea {
    resize: none; 
}


/* Contenedor de la política */
.politica-container {
    margin-left: auto;
    margin-right: auto; 
    max-width: 800px; 
}

/* Estilo de títulos y listas dentro del contenedor de política */
.politica-content ul li {
    list-style-type: disc; 
}
